body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, gray, black, purple, black, gray);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    overflow: hidden;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 100% 50%; }
    50% { background-position: 0% 50%; }
    75% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  