@import url('https://fonts.googleapis.com/css2?family=LemonMilk&display=swap');

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.rounded-rectangle {
    position: relative;
    width: 400px;
    height: 600px;
    margin-left: 40px;
    background: linear-gradient(to bottom, #062485, #001aff);
    border-radius: 20px;
    overflow: hidden;
    animation: floatUpDown 2s infinite ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.text-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: 'LemonMilk Medium';
    font-weight: bold;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-container p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.floating-text {
    font-family: 'LemonMilk Medium', sans-serif;
    font-size: 80px;
    font-weight: normal;
    background: linear-gradient(to right, #062485, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    animation: float 2s infinite ease-in-out;
    text-align: center;
    position: absolute;
    top: 20px;
    left: calc(50% - 90px);
    transform: translateX(-50%);
}