
  @import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.rounded-rectangle {
    position: relative;
    width: 400px;
    height: 600px;
    margin-top: 40px;
    background: linear-gradient(to bottom, #062485, #001aff);
    border-radius: 20px;
    overflow: hidden;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Lemon', sans-serif;
}

.text-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-container p {
    font-size: 18px;
    font-weight: bold;
}

  